#wrapper {
    background-color:aqua;
    min-width: 330px;
    max-height: 500px;
    position: absolute;
    bottom: 23px;
    right: 28px;
    height:100%;
    resize: both;
    z-index: 10;
}

#chatheader{
    text-align: center;
    position: absolute;
    background-color: aquamarine;
    height:10%;
    width:85%;
    top:0px;
    font-size: 24;
}

#textbox{
    position: absolute;
    background-color: white;
    resize:none;
    bottom: 5px;
    height:10%;
    width:80%;
    border-radius: 5px;
    cursor: auto;
    border: 2px solid green;
    margin-left:5px;
}

#hide{
    position: absolute;
    background-color: aquamarine;
    top:0;
    right:0;
    cursor: pointer;
    height:10%;
    width:15%;
    font-size: 30;
    text-align: center;
    border: 2px solid green;
}

#send{
    position: absolute;
    background-color: aquamarine;
    bottom:5px;
    right:0;
    border-radius: 5px;
    cursor: pointer;
    height:10%;
    border: 2px solid green;
}

#messagebox{
    background-color:aqua;
    overflow:auto;
    height:70%;
    margin-top:15%;
    margin-bottom: 15%;
    width:100%;
}